
$vw: 0.052083333333333336vw; //1920px; (100/1920)
$vh: 0.09259259259259259vh; //1080px; (100/1080)
$rem: 0.0625rem;      
$em: 0.0625em;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600;700&display=swap');

:root {
  --main: #ffd500;
  --prime-hue: 218;
  --primary: hsl(var(--prime-hue) 17% 35%);
  --theme-core: #f5f6f7;
  --theme-font: "Poppins", san-serif;
  --font-color: #222;
  --bg-color: #f2f3f7;
  --button-bg-color: #f2f3f7;
  --button-shadow:
    -6px -6px 8px rgba(255, 255, 255, 0.9),
    5px 5px 8px rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color:#ccc !important;
    border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::-moz-selection {
      background:var(--main) ;
  }
  &::selection {
      background: var(--main);
  }
}

html {
  font-size: 16*$rem;
  background: var(--theme-core);;
  scrollbar-width: thin;
  scrollbar-color:#ccc #fff !important;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
  width: 400*$rem;
  color: var(--primary);
  background: pink;
  font-family: var(--theme-font);
  padding: 16*$rem 24*$rem 1.5rem;
  border: 9px solid var(--theme-core);
  border-radius: 18px;
}

a{
	text-decoration: none;
}
a:link {
    text-decoration: none;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}
li {
    background: #f0f0f0;
    margin: 10px 3px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 1px 3px 1px #e4e4e4;
    border-left: 3px solid #3cb183;
    padding: 7px 10px;
}
li:nth-child(odd) {
  background: #80808030;
}
li:nth-child(even) {
  background: #ffffff;
}
.d-none{
  display: none;
}